* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .food{
      background-color: purple;
      color: white;
      height: 150px;
      width: 100%;
      font-size: 60px;
      text-align: center;
  }
  a{
      color:white;
      font-size: medium;
  }
  
  .img-slider {
      position: relative;
      width: 100vw;
      height: 400px;
  }
  .img-slider .slider-container {
      position: absolute;
      width: 300%;
      top: 0;
      left: 0;
      overflow: hidden;
      animation: slider 7s infinite;
  }
  .img-slider .slider-container .slide {
      position: relative;
      width: 33.33333333%;
      height: 100%;
      float: left;
      overflow: hidden
  }
  .img-slider .slider-container .slide img {
    display: block;
    width: 100%;
    height: 100%
  }
  @keyframes slider {
      0%, 25%, 100%{left: 0}
      
      30%, 55%{left: -100%}
      
      60%, 85%{left: -200%}
  }
  .desc{
     color:white;
    background-color: purple;
    width: 40%;
   height: 70px;
   position: absolute;
   bottom: 700px;
   margin-top: 100px;
  }

  .burger{
    color:white;
   background-color: purple;
   width: 40%;
  height: 200px;
  float: left;
 }
